server:
  port: 8000
spring:
  jpa:
  generate-ddl: false
  show-sql: true
  hibernate:
    ddl-auto: none
  datesource:
    platform: h2
    schema: classpath:schema.sql
    data: classpath:data.sql
  logging:
    level:
      root: INFO
      org.hibernate: INFO
      org.hibernate.type.descriptor.sql.BasicBinder: TRACE
      org.hibernate.type.descriptor.sql.BasicExtractor: TRACE





